
    <div class="item">
     
      <input
      type="checkbox"
      class="btn btn-info" (click)="emitirSaludo()">
      {{indice+1}}: {{persona.nombre}} {{persona.apellido}} 
    <!-- BOTONES QUE LLAMAN LA VENTANA MODAL -->
     <!--  <a href="#ventana1" class="btn btn-primary" data-toggle="modal">Editar</a>
    -->  <button id="boton_editar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ventana2" (click)="crear()"></button>
   
   

   <!-- Modal 2 -->
   
   <div *ngIf="creado" class="modal fade" id="ventana2" >
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Header de la ventana -->
        <div class="modal-header">
         <h2 class="modal-title">EDITAR PERSONA MODAL </h2>   
         <button type="button"  class="close" data-dismiss="modal" aria-hidden="true" (click)="crear()">&times;</button>
                     
        </div>
        <!-- Contenido de la ventana -->
        <div class="modal-body">
          <p>{{indice}} {{persona.nombre}} {{persona.apellido}}Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, modi ex! Dolores deleniti voluptates nemo, sunt nam eaque velit, illo dicta corrupti, aspernatur eligendi! Repellat soluta cumque magni sint molestias.</p>
        </div>
        <label class="labels_modal">Nombre:  </label>
            <input type="text" placeholder={{persona.nombre}} [(ngModel)]="nombre">
        <label class="labels_modal">Apellido:  </label>
            <input type="text" placeholder={{persona.apellido}} [(ngModel)]="apellido">

        <!-- Footer de la ventana -->
        <div class="modal-footer">
          <div >{{nombre}} {{apellido}}</div>
          <button class="btn btn-default" data-dismiss="modal" (click)="crear()">Cerrar</button>
          <button class="btn_guardar" data-dismiss="modal" (click)=guardar()>Guardar</button>
        </div>
      </div>
    </div>
 </div>
    </div>